#Подключение к интерфейсу IC
ic.url=http://192.168.7.151:7780/InvestigationCenter/
ic.user=ic_admin
ic.password=ic_admin
chromedriver.path=c:/webdrivers/chromedriver.exe
pictures.folder=c:/tmp


#Подключение к Web-сервису для отправки транзакций
ws.url=http://192.168.7.151:7780/InvestigationCenter/api/webservices/DBOAntiFraudWS

#Подключение к базе данных для проверки операций
db.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
db.url=jdbc:sqlserver://localhost:1433;database=alfa_acol_dev
db.user=sa
db.password=A123456b


